= form_for [@topic.board, @topic, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation.alert.alert-error.alert-block
      %a.close(data-dismiss="alert" href="#")
        &times;
      %h4= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  = f.label :content
  = f.text_area :content, :rows => "10", :class => 'span5'
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
