%header.clearfix
  .pull-right
    = link_to board_path(@topic.board), :class => 'btn btn-large' do
      %i.icon-arrow-left
      Back
    - if can? :edit, @topic
      = link_to edit_board_topic_path(:board_id => @topic.board, :id => @topic),
        :class => 'btn btn-large' do
        %i.icon-edit
        Edit
  .page-header
    %h1
      = @topic.name
      %small= "on #{@topic.board.name}"
%table.table.table-bordered.table-hover
  %tbody
    - for comment in @topic.comments
      %tr{ :id => "comment_#{comment.id}" }
        %td.info
          %h4= comment.user.name
          %small
            %p
              %i.icon.icon-user
              = comment.user.role.humanize
            %p
              %i.icon.icon-calendar
              = comment.created_at.to_s(:long)
        %td.content
          .actions.btn-group.pull-right
            - if can? :edit, comment
              = link_to edit_board_topic_comment_path(:board_id => comment.topic.board, :topic_id => comment.topic, :id => comment),
                :class => 'btn' do
                %i.icon-edit
                Edit
            - if comment != @topic.comments.first and can? :destroy, comment
              = link_to board_topic_comment_path(:board_id => comment.topic.board, :topic_id => comment.topic, :id => comment),
                :method => :delete, :data => { :confirm => 'Are you sure?' },
                :class => 'btn btn-danger' do
                %i.icon-white.icon-trash
                Destroy
          = comment.content
- if can? :create, Comment
  = link_to new_board_topic_comment_url(:board_id => @topic.board, :topic_id => @topic),
    :class => 'btn btn-large new' do
    %i.icon-pencil
    New comment