= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %legend
    %h2= "Edit user"
  - if devise_error_messages
    .alert.alert-block.alert-error
      %a.close(data-dismiss="alert" href="#")
        &times;
      = devise_error_messages
  .control-group
    = f.label :name, :class => 'control-label'
    .controls= f.text_field :name, :placeholder => "Your name"
  - if can? :assign_roles, @user
    .control-group
      = f.label :role, :class => 'control-label'
      .controls
        - roles_array = User::ROLES.map { |r| [r.capitalize, r] }
        = f.select :role, options_for_select(roles_array, @user.role)
  .control-group
    = f.label :email, :class => 'control-label'
    .controls= f.email_field :email, :placeholder => "Email"
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password, :autocomplete => "off",
      :placeholder => "Password"
      %small.help-block Leave blank if you don't want to change it
  .control-group
    = f.label :password_confirmation, "Confirm", :class => 'control-label'
    .controls
      = f.password_field :password_confirmation,  :autocomplete => "off",
      :placeholder => "Password confirmation"
  - if is_current? @user
    .control-group
      = f.label :current_password, :class => 'control-label'
      .controls
        = f.password_field :current_password,  :autocomplete => "off",
          :placeholder => "Current password"
        %small.help-block We need your current password to confirm your changes
  .control-group
    .controls
      Unhappy?
      = link_to user_path(@user), :class => 'btn btn-small btn-danger',
        :data => { :confirm => "Are you sure?" }, :method => :delete do
        %i.icon.icon-white.icon-trash
        Delete my account
  .control-group
    .controls
      = f.submit "Update", :class => 'btn btn-primary'
      = link_to "Back", :back, :class => 'btn'