= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %legend
    %h2 Sign up
  - if devise_error_messages
    .alert.alert-block.alert-error
      %a.close(data-dismiss="alert" href="#")
        &times;
      = devise_error_messages
  .control-group
    = f.label :name, :class => 'control-label'
    .controls= f.text_field :name, :placeholder => "Your name"
  .control-group
    = f.label :email, :class => 'control-label'
    .controls= f.email_field :email, :placeholder => "Email"
  .control-group
    = f.label :password, :class => 'control-label'
    .controls= f.password_field :password, :placeholder => "Password"
  .control-group
    = f.label :password_confirmation, "Confirmation", :class => 'control-label'
    .controls
      = f.password_field :password_confirmation,
        :placeholder => "Password confirmation"
  .control-group
    .controls= f.submit "Sign up", :class => 'btn btn-primary'