!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        %aside.span3
          = render 'shared/sidebar' 
        .span9
          = render 'shared/flash_messages'
          = yield